<a href="https://colab.research.google.com/github/Abhay-mca/Data_Analysis/blob/main/L_1_T_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

url = "https://raw.githubusercontent.com/Abhay-mca/Data_Analysis/main/Dataset%20.csv"
df = pd.read_csv(url)

In [6]:
city_counts = df["City"].value_counts()
most_restaurants_city = city_counts.idxmax()
most_restaurants_count = city_counts.max()
print(f"City with the most restaurants: {most_restaurants_city} ({most_restaurants_count} restaurants)")

City with the most restaurants: New Delhi (5473 restaurants)

In [7]:
df_cleaned = df.dropna(subset=["Aggregate rating"])

In [8]:
avg_ratings = df_cleaned.groupby("City")["Aggregate rating"].mean().round(2)

In [9]:
highest_avg_rating_city = avg_ratings.idxmax()
highest_avg_rating = avg_ratings.max()

In [10]:
print("\nAverage rating per city (top 5 shown):")
print(avg_ratings.sort_values(ascending=False).head())

print(f"\nCity with the highest average rating: {highest_avg_rating_city} ({highest_avg_rating})")

Average rating per city (top 5 shown):
City
Inner City          4.90
Quezon City         4.80
Makati City         4.65
Pasig City          4.63
Mandaluyong City    4.62
Name: Aggregate rating, dtype: float64

City with the highest average rating: Inner City (4.9)