<a href="https://colab.research.google.com/github/Abhay-mca/Data_Analysis/blob/main/L_3_T_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/Abhay-mca/Data_Analysis/main/Dataset%20.csv"
df = pd.read_csv(url)
print(df.columns)

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [3]:
max_votes_row = df.loc[df['Votes'].idxmax()]
print("\n Restaurant with Highest Votes:")
print(f"{max_votes_row['Restaurant Name']} ({max_votes_row['Votes']} votes, Rating: {max_votes_row['Aggregate rating']})")

min_votes_row = df[df['Votes'] > 0].loc[df[df['Votes'] > 0]['Votes'].idxmin()]
print("\n Restaurant with Lowest Non-Zero Votes:")
print(f"{min_votes_row['Restaurant Name']} ({min_votes_row['Votes']} votes, Rating: {min_votes_row['Aggregate rating']})")

 Restaurant with Highest Votes:
Toit (10934 votes, Rating: 4.8)

 Restaurant with Lowest Non-Zero Votes:
Quiosque Chopp Brahma (1 votes, Rating: 0.0)

In [4]:
df_clean = df.dropna(subset=['Votes', 'Aggregate rating'])
correlation = df_clean['Votes'].corr(df_clean['Aggregate rating'])
print(f"\n Correlation between Votes and Rating: {correlation:.2f}")

 Correlation between Votes and Rating: 0.31